
<%- include("header") -%>


    <section id="title">

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #fb5;">
            <a class="navbar-brand" href="/">
                <img src="images/180-1805324_r-r-programming-language-logo-hd-png-download.png" alt="RHTE logo" width="50" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                </ul>
            </div>
          </nav>
        


          <!-- Title -->
          <div class="row title">
            <div class="col-lg-6">
                <h1 class="heading">Rishabh Hydro Tech <span>Engineers</span> </h1>
                <p class="heading-about">Leading Manufactures and Suppliers of Superior Quality Range of Hydraulic and Pneumatics Equipments</p>
            </div>
            <div class="col-lg-6">
                <img class="img" src="images/hydraulic-hoses-500x500.png" alt="Pipes image">
            </div>
          </div>

          
    </section>


    <!-- ABOUT -->
    <section id="about">
        <div class="about-RHTE">
            <h1 class="h1-about">ABOUT</h1>
            <div class="white-about-RHTE">
                <p>RISHABH HYDRO TECH ENGINEERS</p>
            <p> Established in 2005 at New Delhi (INDIA), We Rishabh Hydro Tech are one of the leading manufactures and suppliers of superior quality range of hydraulic and pneumatics equipments. In our product range we supply-hydraulic cylinder, hydraulic power pack, hydraulic manifold, hydraulic pump, hydraulic hose, chemical hose and steam hose, Hydraulic filter, Lubrication unit, Hydraulic direction control valve, Flow control valve and all hydraulic modular type valve & logic valve, Bladder and diaphram types Accumulator, Hydro motor and We also repair Hyd. valve and hyd. motor, We also deal in Pneumatic equipments like pneumatic cylinder,valves and all types of fitting and Pu pipe.
                
                Owing to an uunrestrained infrastructure facility. We are a sole proprietorship firm are competent to supply our consignment well with in assured schedule of delivery. In addition to this,We also make sure that in ahead of delivery every product is adequately examines so that no diserepancy occurs at our customers end our righteous business policies and quality concentric approach have empowered us to turn into one of the choicest names in the national market.</p>
            </div>
            
            <p>-</p>
        </div>
    </section>


    <!-- Team -->
    <section id="team">
        <div class="row">
          <h1 class="heading-team">Our Team</h1>
            <div class="col-lg-4">
              <div class="card">
                <img class="employee-img" src="images/WhatsApp Image 2022-10-23 at 8.25.29 PM.jpeg" alt="Vinod Kumar" style="width:100%">
                <div class="container">
                  <h2>Vinod Kumar</h2>
                  <p class="title">CEO &amp; Founder</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>rishabhhydrotech1@yahoo.com</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
          
            <div class="col-lg-4">
              <div class="card">
                <img class="employee-img" src="images/WhatsApp Image 2022-10-23 at 8.25.46 PM.jpeg" alt="Rishabh Rajput" style="width:100%">
                <div class="container">
                  <h2>Rishabh Rajput</h2>
                  <p class="title">Art Director</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
          
            <div class="col-lg-4">
              <div class="card">
                <img class="employee-img" src="images/WhatsApp Image 2022-10-23 at 8.26.05 PM.jpeg" alt="Lokesh Kumar" style="width:100%">
                <div class="container">
                  <h2>Lokesh Kumar</h2>
                  <p class="title">Designer</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
          </div>
    </section>


    <section id="contact">

      <div class="contact-me">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="heading-contact">Contact Us!</h1>
            <p class="contact-details">Phone No: 9810925109</p>
            <p class="contact-details">Email: rishabhhydrotech1@yahoo.com</p>
            <p class="contact-details">Address: Shop No-134, Dda Commercial Complex, C Block, Community Center, Janakpuri C Block, Delhi - 110058 (Opposite Janak Cinema)</p>
            <div class="mapouter"> <!--Map-->
              <div class="gmap_canvas">
                <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=1356&amp;height=320&amp;hl=en&amp;q=Shop No-134, DDA Commercial Complex, C Block, Community Center, Janakpuri C Block, New Delhi - 110058&amp;t=&amp;z=1&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">

                </iframe>
                
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <form method="post">
              <label class="contact-enteries">Your Name: </label>
              <input class="contact-enteries" name="name" type="text">
              <br>
              <label class="contact-enteries">Your Email: </label>
              <input class="contact-enteries" name="email" type="email">
              <br>
              <label class="contact-enteries">Your Message: </label>
              <br>
              <textarea class="contact-enteries" name="message" cols="30" rows="10"></textarea>
              <br>
              <button type="submit" class="btn myBtn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <p class="copyright">© 2022 Rishabh Hydro Tech Engineers</p>
      </div>
    </section>

<%- include("footer") -%>