<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles link -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Poppins:wght@600&family=Source+Sans+Pro:wght@600&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
    <title>Products</title>
</head>

<body>

    <section id="pricing">
        <h1 class="heading-team main-products-heading">Products</h1>

        <h1 class="product-section-heading">Hydraulic Hose, Water Hose, Chemical Hose</h1>
        <div class="one-type-product">

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src="images/Products/1/Screenshot 2022-10-29 193527.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/1/Screenshot 2022-10-29 193606.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src="images/Products/1/Screenshot 2022-10-29 193619.png"
                            alt="Rishabh Rajput" style="width:100%">
                        <div class="container">
                            <h2>Rishabh Rajput</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/1/Screenshot 2022-10-29 193638.png"
                            alt="Lokesh Kumar" style="width:100%">
                        <div class="container">
                            <h2>Lokesh Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/1/Screenshot 2022-10-29 193729.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/1/Screenshot 2022-10-29 193740.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/1/Screenshot 2022-10-29 213534.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/1/Screenshot 2022-10-29 213547.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/1/Screenshot 2022-10-29 213556.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <h1 class="product-section-heading">Hydraulic Powerpack, Cylinder, Block</h1>
        <div class="one-type-product">

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/2/Screenshot 2022-10-29 193957.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/2/Screenshot 2022-10-29 194017.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/2/Screenshot 2022-10-29 194031.png"
                            alt="Rishabh Rajput" style="width:100%">
                        <div class="container">
                            <h2>Rishabh Rajput</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/2/Screenshot 2022-10-29 194043.png"
                            alt="Lokesh Kumar" style="width:100%">
                        <div class="container">
                            <h2>Lokesh Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/2/Screenshot 2022-10-29 194147.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/2/Screenshot 2022-10-29 194200.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/2/Screenshot 2022-10-29 214542.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/2/Screenshot 2022-10-29 214555.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/2/Screenshot 2022-10-29 214603.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <h1 class="product-section-heading">Hydraulic Pump, Motots, Valves</h1>
        <div class="one-type-product">

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/3/Screenshot 2022-10-29 194220.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/3/Screenshot 2022-10-29 194237.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/3/Screenshot 2022-10-29 194251.png"
                            alt="Rishabh Rajput" style="width:100%">
                        <div class="container">
                            <h2>Rishabh Rajput</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/3/Screenshot 2022-10-29 194451.png"
                            alt="Lokesh Kumar" style="width:100%">
                        <div class="container">
                            <h2>Lokesh Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/3/Screenshot 2022-10-29 194501.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/3/Screenshot 2022-10-29 194513.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/3/Screenshot 2022-10-29 194537.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/3/Screenshot 2022-10-29 194548.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/3/Screenshot 2022-10-29 194601.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <h1 class="product-section-heading">Hydraulic QRQ, Pressure Guage, Pressure Transducer, Accumulator, Jack, Seal</h1>
        <div class="one-type-product">

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/4/Screenshot 2022-10-29 194812.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/4/Screenshot 2022-10-29 194833.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/4/Screenshot 2022-10-29 194845.png"
                            alt="Rishabh Rajput" style="width:100%">
                        <div class="container">
                            <h2>Rishabh Rajput</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/4/Screenshot 2022-10-29 195137.png"
                            alt="Lokesh Kumar" style="width:100%">
                        <div class="container">
                            <h2>Lokesh Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/4/Screenshot 2022-10-29 195148.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/4/Screenshot 2022-10-29 195159.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/4/Screenshot 2022-10-29 195215.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/4/Screenshot 2022-10-29 195228.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/4/Screenshot 2022-10-29 195239.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <h1 class="product-section-heading">Hydraulic Fitting, Filter, Seamless Pipe, Horn Tube Chrome Rod</h1>
        <div class="one-type-product">

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/5/Screenshot 2022-10-29 195258.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/5/Screenshot 2022-10-29 195322.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/5/Screenshot 2022-10-29 195332.png"
                            alt="Rishabh Rajput" style="width:100%">
                        <div class="container">
                            <h2>Rishabh Rajput</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/5/Screenshot 2022-10-29 195343.png"
                            alt="Lokesh Kumar" style="width:100%">
                        <div class="container">
                            <h2>Lokesh Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/5/Screenshot 2022-10-29 195356.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/5/Screenshot 2022-10-29 195406.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/5/Screenshot 2022-10-29 195424.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/5/Screenshot 2022-10-29 195435.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/5/Screenshot 2022-10-29 195448.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <h1 class="product-section-heading">Pneumatic Pipe, Fitting, Valve, Cylinder, Air Gun, QRC, FRL</h1>
        <div class="one-type-product">

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/6/Screenshot 2022-10-29 195503.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/6/Screenshot 2022-10-29 195525.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/6/Screenshot 2022-10-29 195534.png"
                            alt="Rishabh Rajput" style="width:100%">
                        <div class="container">
                            <h2>Rishabh Rajput</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/6/Screenshot 2022-10-29 195545.png"
                            alt="Lokesh Kumar" style="width:100%">
                        <div class="container">
                            <h2>Lokesh Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/6/Screenshot 2022-10-29 195556.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/6/Screenshot 2022-10-29 195606.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/6/Screenshot 2022-10-29 195620.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/6/Screenshot 2022-10-29 195630.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/6/Screenshot 2022-10-29 195642.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <h1 class="product-section-heading">Other Products</h1>
        <div class="one-type-product">

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200133.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200251.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200307.png"
                            alt="Rishabh Rajput" style="width:100%">
                        <div class="container">
                            <h2>Rishabh Rajput</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200319.png"
                            alt="Lokesh Kumar" style="width:100%">
                        <div class="container">
                            <h2>Lokesh Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200331.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200353.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200407.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200422.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200520.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200536.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200546.png"
                            alt="Rishabh Rajput" style="width:100%">
                        <div class="container">
                            <h2>Rishabh Rajput</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200559.png"
                            alt="Lokesh Kumar" style="width:100%">
                        <div class="container">
                            <h2>Lokesh Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200611.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200622.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200631.png"
                            alt="Rishabh Rajput" style="width:100%">
                        <div class="container">
                            <h2>Rishabh Rajput</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200643.png"
                            alt="Lokesh Kumar" style="width:100%">
                        <div class="container">
                            <h2>Lokesh Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200750.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="height: 18rem;">
                        <img class="product-img" src=" images/Products/7/Screenshot 2022-10-29 200805.png"
                            alt="Vinod Kumar" style="width:100%">
                        <div class="container">
                            <h2>Vinod Kumar</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>


    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>